<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Fruitables - Vegetable Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/search.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Spinner Start -->
<div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Navbar start -->
<div class="container-fluid fixed-top">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
            </div>
            <div class="top-link pe-2">
                <a th:href="@{/members/login}" class="text-white"><small class="text-white mx-2">Log In</small>/</a>
                <a th:href="@{/members/logout}" class="text-white"><small class="text-white ms-2">Log Out</small></a>
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a th:href="@{/board/index}" class="navbar-brand">
                <img src="/img/books.png" alt="books-image" class="books-image">
                <img src="/img/main.jpg" alt="main-image" class="main-image"></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a th:href="@{/board/index}" class="nav-item nav-link active">서재</a>
                    <a th:href="@{/board/debate}" class="nav-item nav-link">토론</a>
                    <a th:href="@{/book/liked}" class="nav-item nav-link">내 책장</a>
                </div>
                <div class="d-flex m-3 me-0">
                    <input type="search" id="searchInput" class="form-control" placeholder="keywords">
                    <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" onclick="searchBooks()">
                        <i class="fas fa-search text-primary"></i>
                    </button>
                </div>


            </div>
        </nav>
    </div>
</div>
<!-- <h2>Search Results for: <span th:text="${keyword}"></span></h2>-->
<div class="container py-5" style="margin-top: 150px; margin-bottom: 50px;">
    <div class="row g-4">
        <div th:each="book : ${bookList}" class="col-md-12">
            <div class="book-container" th:data-isbn="${book.isbn}" onclick="showBookDetail(this)">
                <img th:src="${book.image}" alt="Book Image" class="book-img">
                <div class="book-details">
                    <h5 class="book-title" th:text="${book.title}"></h5>
                    <p class="book-author" th:text="${book.author + ' | ' + book.publisher + ' | ' + book.pubdate}"></p>
                    <p class="book-discount" th:text="${book.discount}"></p>
                    <p class="book-description" th:text="${book.description}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 페이징 처리 -->
<div th:if="${totalPages > 1}">
    <ul class="pagination">
        <li th:if="${currentPage > 1}">
            <a th:href="@{'/book/search?keyword=' + ${keyword} + '&amp;page=1&amp;size=' + ${size} + '&amp;sort=' + ${sort}}">First</a>
        </li>
        <li th:if="${currentPage > 1}">
            <a th:href="@{'/book/search?keyword=' + ${keyword} + '&amp;page=' + (${currentPage} - 1) + '&amp;size=' + ${size} + '&amp;sort=' + ${sort}}">Previous</a>
        </li>
        <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:class="${pageNumber == currentPage} ? 'active' : ''">
            <a th:href="@{'/book/search?keyword=' + ${keyword} + '&amp;page=' + ${pageNumber} + '&amp;size=' + ${size} + '&amp;sort=' + ${sort}}" th:text="${pageNumber}"></a>
        </li>
        <li th:if="${currentPage < totalPages}">
            <a th:href="@{'/book/search?keyword=' + ${keyword} + '&amp;page=' + (${currentPage} + 1) + '&amp;size=' + ${size} + '&amp;sort=' + ${sort}}">Next</a>
        </li>
        <li th:if="${currentPage < totalPages}">
            <a th:href="@{'/book/search?keyword=' + ${keyword} + '&amp;page=' + ${totalPages} + '&amp;size=' + ${size} + '&amp;sort=' + ${sort}}">Last</a>
        </li>
    </ul>
</div>
<!-- Back to Top -->


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="/js/search.js"></script>
<script src="/js/main.js"></script>
</body>
</html>