body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container-createPost form {
    width: 40%;
    height: 650px;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 30%;
    margin-top: 10%;
}


label {
    font-weight: bold;
}
.container-createPost form textarea {
    height: 200px; /* 높이를 원하는 값으로 조정 */
    resize: vertical; /* 사용자가 수직으로만 크기 조절할 수 있도록 설정 */
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4b629a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #ed7e50b3;
}