.book-container {
    display: flex;
    overflow: auto;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 20px;
    align-items: center;
    width: 800px;
    height: 230px;
    margin: 0 auto;
}

.book-container:hover {
    transform: scale(1.05);
}

.book-img {
    width: 150px; /* 이미지 너비 설정 */
    height: auto;
    border-right: 1px solid #ddd;
}

.book-details {
    flex-grow: 1;
    padding: 10px;
}

.book-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #5f7c9c;
}

.book-author {
    font-size: 14px;
    color: #555;
}

.book-discount {
    font-size: 17px;
    color: #e44d26;
    font-weight: 900;
}

.book-description {
    font-size: 14px;
    color: #333;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 2줄로 제한 */
    -webkit-box-orient: vertical;
}

.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.pagination li {
    margin: 0 5px;
}
.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
}
.pagination li.active a {
    background-color: #007bff;
    color: #fff;
}